<footer class="footer mt-4">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-sm-6 text-center text-sm-left">
        <p>AR World Travels</p>
        <p>Made with<span class="emoji">❤</span>by <a href="https://github.com/allienx" target="_blank">Alex</a> and Rach</p>
      </div>
      <div class="col-12 col-sm-6 text-center text-sm-right">
        <div id="rachsBeans">
          <p id="quote">"I'm going to get a puppy and make it love me."</p>
          <!-- <p>- Rachel Solomon</p> -->
        </div>
      </div>
    </div>
  </div>
</footer>
