<!doctype html>
<html lang="en">
<head>
  <title>AR World Travels</title>

  {{ partial "head-meta.html" . }}
  {{ partial "head-link.html" . }}
</head>
<body>

{{ partial "navigation-drawer.html" . }}
{{ partial "navbar.html" . }}

<header class="masthead text-center d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-9 col-sm-8 col-md-6 mx-auto bg-light">
        <div class="title">Al &amp; Rach</div>
        <div class="title">World Travels</div>
      </div>
    </div>
  </div>
</header>

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>
