<!doctype html>
<html lang="en">
<head>
  <title>{{ .Title }}</title>

  {{ partial "head.html" . }}
</head>
<body>

{{ partial "navigation-drawer.html" . }}
{{ partial "navbar.html" . }}

<div class="container narrow my-4">
  <div class="row">
    <div class="col">
      <h1>{{ .Title }}</h1>
      <div><small>{{ .Date.Format "Monday, January 2, 2006" }} at {{ .Date.Format "15:04" }} <a href="https://www.timeanddate.com/time/zones/{{ lower .Params.timezone }}" target="_blank">{{ .Params.timezone }}</a></small></div>
      <div><small>By: {{ .Params.author }} | {{ .WordCount }} words</small></div>
      <img class="img-fluid my-4" src="/assets/img/destinations/{{ .Params.albumimg }}.jpg" srcset="/assets/img/destinations/{{ .Params.albumimg }}.jpg 1x, /assets/img/destinations/{{ .Params.albumimg }}@2x.jpg 2x" alt="{{ .Params.albumtext }}" title="{{ .Params.albumtext }}">
    </div>
  </div>
  <div class="row">
    <div class="col markdown-body">
      {{ .Content }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>
