<footer class="footer mt-4">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-sm-6 text-center text-sm-left">
        <p>Made with<span class="emoji">❤</span>by <a class="hackz" href="https://github.com/allienx" target="_blank">Alex</a> and Rach.</p>
        <p><a class="hackz" href="https://github.com/allienx/arworldtravels.com" target="_blank">Nerd Stuff</a></p>
        <div id="rachsBeans">
          <p id="quote">"I'm going to get a puppy and make it love me."</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 mt-4 mt-sm-0 text-center text-sm-right">
        <img class="westerkerk day"/>
      </div>
    </div>
  </div>
</footer>
