<footer class="footer mt-4">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-6 text-center text-md-left">
        <p>Made with ❤ by Alex and Rach.</p>
        <div id="rachsBeans">
          <p id="quote">"I'm going to get a puppy and make it love me."</p>
        </div>
        <p>
          <a class="hover-hacks" href="https://github.com/allienx/arworldtravels.com" target="_blank" rel="noopener noreferrer">Nerd Stuff</a>
        </p>
      </div>
      <div class="col-12 col-md-6 mt-4 mt-md-0">
        <img class="westerkerk" src="/assets/img/day-n-night/westerkerk-day.jpg"/>
        <div class="westerkerk night">
          <img src="/assets/img/day-n-night/westerkerk-night.jpg"/>
        </div>
      </div>
    </div>
  </div>
</footer>
