<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">arworldtravels</a>

    <ul class="navbar-nav ml-auto d-none d-sm-inline-flex">
      <li class="nav-item">
        <a class="nav-link" href="/about/">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/photos/">Photos</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/destinations/" id="ourTripDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Trip</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ourTripDropdown">
          <a class="dropdown-item" href="/europe/">Europe</a>
          <a class="dropdown-item" href="/southeast-asia/">Southeast Asia</a>
          <a class="dropdown-item" href="/new-zealand/">New Zealand</a>
        </div>
      </li>
    </ul>

    <svg id="menu-button" class="d-block d-sm-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
  </div>
</nav>
