<div id="menu-overlay"></div>
<div id="menu-drawer">
  <div class="title text-center">Menu</div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/about/">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/photos/">Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/europe/">Europe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/southeast-asia/">Southeast Asia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/new-zealand/">New Zealand</a>
    </li>
  </ul>
</div>
