<div class="row trip-update mt-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <div>
          <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
        </div>
        <small>{{ .Date.Format "Jan 2, 2006" }} | {{ .Params.author }}</small>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 col-sm-4">
        <a href="{{ .Permalink }}">
          <img class="img-fluid" src="/assets/img/destinations/{{ .Params.albumimg }}.jpg" alt="{{ .Params.albumtext }}">
        </a>
      </div>
      <div class="col-12 col-sm-8">
        <small class="summary mt-3 mt-sm-0">{{ .Summary }}</small>
        <span>&hellip;</span>
        <a class="btn btn-outline-dark read-more mt-3 mt-sm-0" href="{{ .Permalink }}">Read More</a>
      </div>
    </div>
  </div>
</div>
