<!doctype html>
<html lang="en">
<head>
  <title>AR World Travels</title>

  {{ partial "head.html" . }}
</head>
<body>

{{ partial "navigation-drawer.html" . }}
{{ partial "navbar.html" . }}

<section class="hero is-fullheight-with-navbar">
  <div class="background-slideshow top"></div>
  <div class="background-slideshow bottom"></div>

  <div class="container my-auto d-sm-none">
    <div class="row">
      <div class="col-9 col-sm-8 col-md-6 mx-auto bg-light">
        <div class="responsive-title text-center">Al &amp; Rach</div>
        <div class="responsive-title text-center">World Travels</div>
      </div>
    </div>
  </div>
</section>

<section class="container home my-5">
  <h2 class="responsive-title text-center mb-5 d-none d-sm-block">Al &amp; Rach World Travels</h2>
  <div class="row">
    <div class="col-12 col-md-4 align-self-center">
      <img class="img-fluid rounded mb-4" src="/assets/img/our-story.jpg" />
    </div>
    <div class="col-12 offset-md-1 col-md-7">
      <p>We're Alex and Rachel. Just another couple in their twenties that decided to leave their stable lives and do some traveling. We think that at some point we all realize that life is too short and no one knows what the future holds. We found ourselves lucky enough with the opportunity to leave our jobs and explore the world. We had the mindset of <em>why wait?</em> We could wait for retirement or wait for some other perfect time in our lives to do a world trip like this but what's the point of waiting when we could do it now? We made this little site to document our travels so we could keep some friends and family updated on what we're up to (it's also a memento that we can look back on when our trip is over).</p>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}

</body>
</html>
