.footer {
    padding: 1.5rem 0;
    color: #777777;
    border-top: .05rem solid #e5e5e5;

    #rachsBeans {
        cursor: pointer;
        display: inline-block;
    }

    .westerkerk {
        width: 267px;
        height: 200px;
        background-repeat: no-repeat;
        transition: background 0.5s ease-in-out 0.25s;
    }

    .westerkerk.day {
        background-image: url("/assets/img/day-n-night/westerkerk-day.jpg");
    }

    .westerkerk.night {
        background-image: url("/assets/img/day-n-night/westerkerk-night.jpg");
    }
}
