// Workaround issue where fonts after "sans-serif" get removed when compiling sass -> css.
body {
  font-family:
  	-apple-system,
  	BlinkMacSystemFont,
  	"Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

.emoji {
	margin: 0 0.25rem;
}

.section-title {
    font-family: "Brandon Grotesque Light", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 720px) {
    .container.narrow {
        max-width: 720px;
    }
}
