header.masthead {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url("../img/background-manarola.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 1.5s ease-in-out 0.5s;

    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-weight: 300;
    }

    @media (min-width: 768px) {
        p {
            font-size: 1.15rem;
        }
    }

    @media (min-width: 992px) {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;

        h1 {
            font-size: 3rem;
        }
    }

    @media (min-width: 1200px) {
        h1 {
            font-size: 4rem;
        }
    }
}

.responsive-title {
    font-family: "Brandon Grotesque Light", serif;
    font-size: 2rem;
    text-transform: uppercase;
}

@media (min-width: 540px) {
    .responsive-title {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    .responsive-title {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    .responsive-title {
        font-size: 3.5rem;
    }
}

@media (min-width: 1200px) {
    .responsive-title {
        font-size: 4rem;
    }
}
